:root{
    --clr-dark: black;
    --clr-light: rgb(78, 136, 117);
}
  div.fontColor{
      
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: aliceblue;
    }
    
     body{
      background-color: var(--clr-dark);
      color: aliceblue;
   }
     figcaption{
         font-weight: bold;
     }
     ul{
        display: inline-block;
        text-align: left;
     }
     a{
      color: blueviolet;
     }
     a:hover{
        color: aqua;
        font-size: 20px;
     }
     h1.intro::first-letter{
         font-size: 200%;
           color: aqua;
     }
   
     .header{
        border: solid white;
       background-color: var(--clr-light);
        padding: 30px;
     }
     .navigation{
       background-color: azure;
       padding: 10px;
     }

         @media screen and (max-width:600px){
            body{
               width: 100%;
            }
         }
   
     